.header {
    padding-top: 73px;  
    background-color: #014E56;
}
.header__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list_item:nth-child(3){
    flex-grow: 0.7;
}
.header__list_item:nth-child(4) a{
    padding: 9px 16px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
}
.header__list_item a {
    color: #fff;
    text-decoration: none;
}

.hero{
    padding-top: 133px;
    padding-bottom: 250px;
    background: #014E56;
    background-image: url('../public/img/bg-hero-left.svg'), url('../public/img/bg-hero-bottom.svg');
    background-repeat: no-repeat;
    background-position: 0 30% ,right 15% bottom 0;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.hero__title {
    width: 505px;
    font-size: 100px;
line-height: 100px;
    color: #FFFFFF;
}
.hero__talent {
    color: #F67E7E;
}
.hero__text{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    width: 445px;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 159px;
}
.footer__menu a {
    color: #fff;font-size: 18px;
    line-height: 28px;
}
.footer__adress{
    display: flex;
    flex-direction: column;
    opacity: 0.6;
    color: #fff;
}

.footer__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}
.footer__icons p{
    opacity: 0.6;
}
.footer__link {
    width: 110px;
    display: flex;
    justify-content: space-between;
}